# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Tests
.pytest_cache/
.coverage
htmlcov/

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Variables d'environnement
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
